.modalDialog{
    position:fixed;
    font-size: 1.4em;
    color:teal;	
    width: 80%;
    display: none;
    text-indent: 1.5em;
    margin-bottom: 1em;
    
}
.modalDialog:target{
	display: block;
	opacity: 1;
	pointer-events:auto;
}
.modalDialog{
	position: relative;
	margin: 1% auto;
	padding: 30px;
	width: 800px;
	height:800px;
	border-radius: 5px;
	background: #F5FFFA;
}
.close1{
	text-decoration: none;
	font-size: 1em;
	position:relative;
	left:94%;
    top: -2.5%;
	background-color: teal;
	padding: 0 0.5em;
	color: #ffffff;
	font-weight: bold;
	border-radius: 20px;
}
.close1:hover{
	font-size: 1.2em;
	border-radius: 30px;
}
.textDespertar{
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    padding:0.5em;
    
}
.styleDespertar{ 
    width: 29%;
    text-align: center;
    border:2px solid #177653;
    border-radius: 10px;
    padding-bottom: 1em;
    margin: 1em 1em;
}
.aDespertar{
    color:black;
    margin-bottom: 1em;
}
.sectionDespertar{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.aVoltar{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 2px solid #177653;
    border-radius: 22px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 1em 1em 1em 2em;
    display: block;
    height: 19px;
    width: 12%;
}
.aVoltar:hover{
    font-size: 22px;
    background-color: #d6d4d4;
    border: 2px solid #808080;
}
.aVoltarI{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 2px solid #177653;
    border-radius: 22px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 1em 1em 1em 2em;
    display: block;
}
.aVoltarI:hover{
    font-size: 22px;
    background-color: #d6d4d4;
    border: 2px solid #808080;
}
.olDespertar{
    list-style-type:decimal;
    list-style-position: inside;
    line-height: 1.3em;
    padding-bottom: 1em;
    text-align: justify;
}
.destaqueTexto{
    /*color:teal;*/
    font-weight: bold;
}
