.modalDialog{
    position:fixed;
    font-size: 1.4em;
    color:teal;	
    width: 80%;
    display: none;
    text-indent: 1.5em;
    margin-bottom: 1em;
    
}
.modalDialog:target{
	display: block;
	opacity: 1;
	pointer-events:auto;
}
.modalDialog{
	position: relative;
	margin: 1% auto;
	padding: 30px;
	width: 800px;
	height:860px;
	border-radius: 5px;
	background: #F5FFFA;
}
.close1{
	text-decoration: none;
	font-size: 1em;
	position:relative;
	left:94%;
    top: -2.5%;
	background-color: teal;
	padding: 0 0.5em;
	color: #ffffff;
	font-weight: bold;
	border-radius: 20px;
}
.close1:hover{
	font-size: 1.2em;
	border-radius: 30px;
}
.textDespertar{
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    padding:0.5em;
    
}
.styleDespertar{ 
    width: 29%;
    text-align: center;
    border:6px double #177653;
    border-radius: 10px;
    padding-bottom: 1em;
    margin: 1em 1em;
}
.aDespertar{
    color:black;
    margin-bottom: 1em;
    font-size: 18px;
}
.aDespertar:hover{
    font-size: 20px;
    color:#191970;
}
.sectionDespertar{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.aVoltar{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 2px solid #177653;
    border-radius: 22px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 1em 1em 1em 2em;
    display: block;
    height: 19px;
    width: 12%;
}
.aVoltar:hover{
    font-size: 22px;
    background-color: #d6d4d4;
    border: 2px solid #808080;
}
.aVoltarI{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
    border: 2px solid #177653;
    border-radius: 22px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 1em 1em 1em 2em;
    display: block;
}
.aVoltarI:hover{
    font-size: 22px;
    background-color: #d6d4d4;
    border: 2px solid #808080;
}
.olDespertar{
    list-style-type:decimal;
    list-style-position: inside;
    line-height: 1.3em;
    padding-bottom: 1em;
    text-align: justify;
}
.destaqueTexto{
    /*color:teal;*/
    font-weight: bold;
}
/* #############VALORES################ */
.menuPq{
    display: flex;
}
#aNAv{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #000000;
    border: 6px double #be9e60;
    border-radius: 34px;
    padding: 0.5em 1.2em 0.5em 1.2em;
    margin: 1em 2em 1em 2em;
    display: block;
    height: 35px;
    width: 24%;
}
#aNAv:hover{
    font-size: 22px;
    background-color: #696969;

}
.sectionPreco{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.divPreco{
    border: 4px double #be9e60;
    margin: 0.8em 2em;
    width:55%;
    background: #000000;
    color:#ffffff;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.warehouseValor{
    border: 3px double #177653;
    width: 55%;
    text-align: center;
    padding: 0.8em;
}
.titleServicos{
    font-size: 30px;
    font-weight: bold;
    padding: 0.8em 1em;
}
.ulArgumento{
    font-size: 17px;
    font-family: Assistant;
    padding: 1em 1em;
}
.listPreco{
    list-style-type: disc;
    list-style: inside;
    padding-bottom: 0.8em;
}
.paragrafoPreco{
    line-height: 1.4em;
    font-size: 20px;
}
.titlePreco{
    font-size: 20px;
    padding-bottom: 1em;
    color:#be9e60;
    font-weight: bold;
}
.aPreco{
    font-size: 19px;
    text-decoration: none;
    padding: 0.4em;
    margin-bottom: 0.8em;
    color:#ffffff;
    border: 1px solid #ffffff;
    background-color: #177653;
    border-radius: 22px;
}
.aPreco:hover{
    font-size: 21px;
    background-color: #696969;

}
.pBI{
    width: 80%;
    font-size: 20px;
    margin: 1% 10%;
    text-indent: 2em;
    line-height: 1.5em;
    text-align: justify;
}
.divAviso{
    margin: 5em 0;
}
.aConsultor{
    width: 30%;
    padding: 0.5em;
    margin-left: 2em;
    border: 2px solid #177653;
    background-color: #177653;
    border-radius: 30px;
    font-size: 18px;
    color:#ffffff;
    text-decoration: none; 
}
.aConsultor:hover{
    font-size: 20px;
    background-color: #696969;
}
.divConsultor{
    margin-left: 10%;
}
.aVoltarX{
    border: 2px solid #177653;
    background-color: #177653;
    border-radius: 20px;
    color:#ffffff;
    text-decoration: none; 
    margin: 1em;
    padding: 0.5em;
    position: absolute;
    left:85%;
    top: -1%;
}
.aVoltarX:hover{
    font-size: 18px;
    background-color: #696969;

}


@media screen and (max-width: 420px){
    .styleDespertar {
        width: 40%;
    }
    .aVoltar{
        width:68%;
    }
    .modalDialog{
        width: 300px;
        height: 1925px;
    }
    .close1{
        left: 84%;
        top: -0.8%;
        font-size: 0.8em;
    }
    .menuPq{
      justify-content: space-between;  
    }
    #aNAv{
        margin: 0;
        width: 32%;
    }
    .divPreco{
        width: 98%;
    }
    .titleServicos {
        font-size: 28px;
    }
    .warehouseValor{
        width: 79%;
    }
    
}

@media screen and (min-width: 421px) and (max-width: 890px){
    .styleDespertar {
        width: 44%;
    }
    .aVoltar{
        width:33%;
    }
    .modalDialog{
        width: 643px;
        height: 1000px;
    }
    .divPreco{
        width: 91%;
    }
}
